p.rssBox {
	text-align: justify;
}

#rssBox{
         width:200px;
         height:300px;
         margin: 1em;
         margin-top: 5em;
         float:right;
         border:1px solid #7099C5;
         padding:10px;
         font-size:0.9em;
         background-color:#f0f0ff;
         
         }		
.rssBoxDate{
             text-align:right;
             float:right;
             margin: 0 0 0 0;
             font-size:0.9em;
             }
.rssBoxHeading{	/* Heading of RSS item */
                font-weight:bold;
                color:#7099C5;
                margin:0px;
                }
.rssBoxDescription{	/* Description of RSS item */
                    padding: 1px;
                    margin: 5px;                    
                    }	
.rssBoxLink{	/* Read more link */
		color:#F0;
             text-decoration:none;
             }
.rssBoxLink:hover{	/* Read more link - mouse over */
                   text-decoration:underline;
                   }
